server:
  port: 8126
  servlet:
    session:
      cookie:
        path: /
spring:
  profiles:
    active: local
  application:
    name: nbr-bj-user
  main:
    allow-circular-references: true

  ### redis连接配置
  redis:
    host: 127.0.0.1
    password: 123456
    database: 0

  ### db连接配置
  shardingsphere: # https://shardingsphere.apache.org/document/current/cn/user-manual/shardingsphere-jdbc/usage/sharding/spring-boot-starter/
    enabled: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3607/bet_local?useUnicode=true&allowMultiQueries=true&rewriteBatchedStatements=true
    username: root
    password: PzxELStGI2MzEhoFBQk4Bw
    connection-timeout: 10000
    max-lifetime: 300000
    auto-commit: true
    data-source-properties:
      characterEncoding: UTF-8
      serverTimezone: GMT+8
      useSSL: false
      allowPublicKeyRetrieval: true
      useServerPrepStmts: true
      cachePrepStmts: true
      useLocalSessionState: true
      useUnbufferedInput: false
      elideSetAutoCommits: true
      cacheServerConfiguration: true
      prepStmtCacheSize: 250 # 默认 25
      prepStmtCacheSqlLimit: 1024 # 默认 256
mybatis-plus:
  type-handlers-package: com.bojiu.context.dao
  mapper-locations: classpath:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    default-enum-type-handler: org.apache.ibatis.type.EnumOrdinalTypeHandler
  global-config:
    db-config:
      table-prefix: gs_
      id-type: auto
      logic-delete-field: state
      logic-delete-value: 0
      logic-not-delete-value: 3
  type-aliases-package: com.bojiu.**.entity
  type-enums-package: com.bojiu.**.model


  ### common-config.yml 所有服务的公共配置
  messages:
    use-code-as-default-message: true
  mvc:
    throw-exception-if-no-handler-found: true
  cloud:
    sentinel:
      enabled: false
    loadbalancer:
      ribbon:
        enabled: false # 禁用 ribbon，使用 loadbalancer
  session:
    store-type: redis
    timeout: 600
webapp:
  context:
    encrypt:
      aes-key: eJeJylXMuqtUb11wNPG5krsEAQCdc0gN

# 暴露健康检查访问入口
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    tags:
      application: ${spring.application.name}

warn:
  service:
    url: https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=c686c253-e82e-4a6a-ae9c-0859084a9298
